# PlatformIO
.pio/
.vscode/
*.elf
*.bin
*.map
*.d
*.a
*.

# Arduino IDE archivos temporales
*.ino.*
*.bak
*.tmp
*.swp

# Windows
Thumbs.db

# Archivos de compilación ocultos
*.d
*.elf
*.hex
*.bin

# Otros posibles ocultos
*.log
*.log.*
